@model QueuedPushNotificationModel

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default">
                    <div class="card-body">
                        <input type="hidden" asp-for="Id">

                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="CustomerName" />
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">
                                    @if (Model.CustomerId > 0)
                                    {
                                        <a asp-controller="Customer" asp-action="Edit" asp-route-id="@Model.CustomerId">@Model.CustomerName - @T("Admin.Common.View")</a>
                                    }
                                    else
                                    {
                                        <span>@Model.CustomerName</span>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="StoreName" />
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">
                                    @if (Model.StoreId > 0)
                                    {
                                        <a asp-controller="Store" asp-action="Edit" asp-route-id="@Model.StoreId">@Model.StoreName - @T("Admin.Common.View")</a>
                                    }
                                    else
                                    {
                                        <span>@Model.StoreName</span>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="Title" />
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">@Model.Title</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="Body" />
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">@Html.Raw(Model.Body)</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="IconUrl" />
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row"><img src="@Model.IconUrl" /></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="ImageUrl" />
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">
                                    @if (!string.IsNullOrWhiteSpace(Model.ImageUrl))
                                    {
                                        <img src="@Model.ImageUrl" style="max-height: 80px" />
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="Url" />
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">@Model.Url</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="Rtl" />
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">@Model.Rtl</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="CreatedOn" />
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">@Model.CreatedOn</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="SentOn" />
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row">@Model.SentOn</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>