@model ConfigurationModel

@{
    Layout = "_AdminLayout";
    ViewBag.PageTitle = T("Admin.NopStation.Clarity.Configuration").Text;
    NopHtml.SetActiveMenuItemSystemName("Clarity.Configuration");
}

<form asp-controller="Clarity" asp-action="Configure" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.NopStation.Clarity.Configuration")
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                @await Component.InvokeAsync(typeof(StoreScopeConfigurationViewComponent))
                <div asp-validation-summary="All"></div>
                <div class="cards-group">
                    <div class="card card-default">
                        <div class="card-body">
                            @T("Admin.NopStation.Clarity.Configuration.Instructions")
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-override-store-checkbox asp-for="EnablePlugin_OverrideForStore" asp-input="EnablePlugin" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="EnablePlugin" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="EnablePlugin" />
                                    <span asp-validation-for="EnablePlugin"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-override-store-checkbox asp-for="SettingModeId_OverrideForStore" asp-input="SettingModeId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="SettingModeId" />
                                </div>
                                <div class="col-md-9">
                                    <nop-select asp-for="SettingModeId" asp-items="Model.AvailableSettingModes" />
                                    <span asp-validation-for="SettingModeId"></span>
                                </div>
                            </div>

                            <div class="form-group row" id="pnlProjectId">
                                <div class="col-md-3">
                                    <nop-override-store-checkbox asp-for="ProjectId_OverrideForStore" asp-input="ProjectId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="ProjectId" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="ProjectId" />
                                    <span asp-validation-for="ProjectId"></span>
                                </div>
                            </div>

                            <div class="form-group row" id="pnlTrackingCode">
                                <div class="col-md-3">
                                    <nop-override-store-checkbox asp-for="TrackingCode_OverrideForStore" asp-input="TrackingCode" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="TrackingCode" />
                                </div>
                                <div class="col-md-9">
                                    <nop-textarea asp-for="TrackingCode" />
                                    <span asp-validation-for="TrackingCode"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

<script>
    $(document).ready(function () {
        $("#@Html.IdFor(model => model.SettingModeId)").click(toggleTrackingCode);

        toggleTrackingCode();

        function toggleTrackingCode() {
            var settingModeId = $("#@Html.IdFor(model => model.SettingModeId)").val();
            if (settingModeId == @((int)SettingMode.TrackingCode)) {
                $('#pnlTrackingCode').show();
                $('#pnlProjectId').hide();
            }
            else {
                $('#pnlTrackingCode').hide();
                $('#pnlProjectId').show();
            }
        }
    });
</script>