@model IpRangeBlockRuleSearchModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.NopStation.IpFilter.IpRangeBlockRules.List").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("IpFilter.IpRangeBlockRules");
}

@{
    const string hideSearchBlockAttributeName = "IpRangeBlockRulesPage.HideSearchBlock";
    var hideSearchBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideSearchBlockAttributeName);
}

<div class="content-header clearfix">
    <h1 class="float-left">
        @T("Admin.NopStation.IpFilter.IpRangeBlockRules.List")
    </h1>
    <div class="float-right">
        <a asp-action="Create" class="btn btn-primary">
            <i class="fas fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default card-search">
                    <div class="card-body">
                        <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                            <div class="search-text">@T("Admin.Common.Search")</div>
                            <div class="icon-search"><i class="fa fa-search" aria-hidden="true"></i></div>
                            <div class="icon-collapse"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                        </div>

                        <div class="search-body @(hideSearchBlock ? "closed" : "")">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="CreatedFrom" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="CreatedFrom" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <nop-label asp-for="CreatedTo" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="CreatedTo" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7 offset-md-5">
                                    <button type="button" id="search-iprangeblockrules" class="btn btn-primary btn-search">
                                        <i class="fa fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card panel-default">
                    <div class="card-body">
                        @await Html.PartialAsync("Table", new DataTablesModel
                        {
                            Name = "iprangeblockrules-grid",
                            UrlRead = new DataUrl("List", "IpRangeBlockRule", null),
                            SearchButtonId = "search-iprangeblockrules",
                            Length = Model.PageSize,
                            LengthMenu = Model.AvailablePageSizes,
                            Filters = new List<FilterParameter>
                            {
                                new FilterParameter(nameof(Model.CreatedFrom)),
                                new FilterParameter(nameof(Model.CreatedTo))
                            },
                            ColumnCollection = new List<ColumnProperty>
                            {
                                new ColumnProperty(nameof(IpRangeBlockRuleModel.FromIpAddress))
                                {
                                    Title = T("Admin.NopStation.IpFilter.IpRangeBlockRules.Fields.FromIpAddress").Text,
                                    Width = "100"
                                },
                                new ColumnProperty(nameof(IpRangeBlockRuleModel.ToIpAddress))
                                {
                                    Title = T("Admin.NopStation.IpFilter.IpRangeBlockRules.Fields.ToIpAddress").Text,
                                    Width = "100"
                                },
                                new ColumnProperty(nameof(IpRangeBlockRuleModel.CreatedOn))
                                {
                                    Title = T("Admin.NopStation.IpFilter.IpRangeBlockRules.Fields.CreatedOn").Text,
                                    Width = "100",
                                    Render = new RenderDate()
                                },
                                new ColumnProperty(nameof(IpRangeBlockRuleModel.Id))
                                {
                                    Title = T("Admin.Common.Edit").Text,
                                    Width = "100",
                                    ClassName =  NopColumnClassDefaults.Button,
                                    Render = new RenderButtonEdit(new DataUrl("Edit"))
                                }
                            }
                        })
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>