@model ConvertToOrderModel

<div class="card-body">
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="BillingAddress" />
        </div>
        <div class="col-md-9">
            <nop-select asp-for="BillingAddressId" asp-items="@Model.AvailableAddresses" asp-required="true" />
            <a role="button" target="_blank" class="btn btn-primary mt-2" href="@Url.Action("AddressCreate", "Customer", new { customerId = Model.CustomerModel?.Id })">
                <span class="fas fa-plus"></span>
                <span>@T("Admin.NopStation.Plugin.Misc.QuoteCart.ConvertToOrder.NewBillingAddress")</span>
            </a>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="ShipToSameAddress" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="ShipToSameAddress" />
        </div>
    </div>
    <div class="form-group row" id="blkShippingAddress">
        <div class="col-md-3">
            <nop-label asp-for="ShippingAddress" />
        </div>
        <div class="col-md-9">
            <nop-select asp-for="ShippingAddressId" asp-items="@Model.AvailableAddresses" asp-required="true" />
            <a role="button" target="_blank" class="btn btn-primary mt-2" href="@Url.Action("AddressCreate", "Customer", new { customerId = Model.CustomerModel?.Id })">
                <span class="fas fa-plus"></span>
                <span>@T("Admin.NopStation.Plugin.Misc.QuoteCart.ConvertToOrder.NewShippingAddress")</span>
            </a>
        </div>
    </div>
</div>


<script>
    function updateShippingAddress() {
        var shipToSameAddress = $('#@Html.IdFor(x => x.ShipToSameAddress)').is(':checked');
        if (shipToSameAddress) {
            $('#blkShippingAddress').hide();
        } else {
            $('#blkShippingAddress').show();
        }
    }

    $(function () {
        updateShippingAddress();
        $('#@Html.IdFor(x => x.ShipToSameAddress)').change(updateShippingAddress);
    });
</script>