@model SurveyAttributeMappingModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.NopStation.DynamicSurvey.Surveys.SurveyAttributes.AddNew").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Surveys");
}

<form asp-controller="Survey" asp-action="SurveyAttributeMappingCreate" method="post" id="surveyattribute-form">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.NopStation.DynamicSurvey.Surveys.SurveyAttributes.AddNew")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="Edit" asp-route-id="@Model.SurveyId">@T("Admin.NopStation.DynamicSurvey.Surveys.SurveyAttributes.BackToSurvey")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdateSurveyAttributeMapping", Model)
</form>