@model NopStation.Plugin.Widgets.FacebookMessenger.Models.ConfigurationModel

@{
    Layout = "_AdminLayout";
    ViewBag.PageTitle = T("Admin.NopStation.FacebookMessenger.Configuration").Text;
    NopHtml.SetActiveMenuItemSystemName("FacebookMessenger.Configuration");

    NopHtml.AddScriptParts(ResourceLocation.Head,"/lib_npm/farbstastic/farbtastic.min.js", string.Empty);
    NopHtml.AddCssFileParts("/lib_npm/farbstastic/farbtastic.css", string.Empty);
    
    if (string.IsNullOrEmpty(Model.ThemeColor))
    {
        Model.ThemeColor = "#000000";
    }
}

<form asp-controller="FacebookMessenger" asp-action="Configure" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.NopStation.FacebookMessenger.Configuration")
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                @await Component.InvokeAsync("StoreScopeConfiguration")
                <div asp-validation-summary="All"></div>
                <div class="cards-group">
                    <div class="card card-default">
                        <div class="card-body">
                            @T("Admin.NopStation.FacebookMessenger.Configuration.Instructions")
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-override-store-checkbox asp-for="EnablePlugin_OverrideForStore" asp-input="EnablePlugin" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="EnablePlugin" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="EnablePlugin" />
                                    <span asp-validation-for="EnablePlugin"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-override-store-checkbox asp-for="EnableScript_OverrideForStore" asp-input="EnableScript" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="EnableScript" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="EnableScript" id="enablescript" />
                                    <span asp-validation-for="EnableScript"></span>
                                </div>
                            </div>

                            <div class="form-group row" id="pageid">
                                <div class="col-md-3">
                                    <nop-override-store-checkbox asp-for="PageId_OverrideForStore" asp-input="PageId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="PageId" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="PageId" />
                                    <span asp-validation-for="PageId"></span>
                                </div>
                            </div>

                            <div class="form-group row" id="themecolor">
                                <div class="col-md-3">
                                    <nop-override-store-checkbox asp-for="ThemeColor_OverrideForStore" asp-input="ThemeColor" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="ThemeColor" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="ThemeColor" />
                                    <div id="themecolor-picker"></div>
                                    <script>
                                        $(document).ready(function(){
                                            $('#themecolor-picker').farbtastic('#@Html.IdFor(model => model.ThemeColor)');
                                        });
                                    </script>
                                    <span asp-validation-for="ThemeColor"></span>
                                </div>
                            </div>

                            <div class="form-group row" id="script">
                                <div class="col-md-3">
                                    <nop-override-store-checkbox asp-for="Script_OverrideForStore" asp-input="Script" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="Script" />
                                </div>
                                <div class="col-md-9">
                                    <nop-textarea asp-for="Script" />
                                    <span asp-validation-for="Script"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

<script>
    $(document).ready(function () {

        var checkscript = function () {
            if ($('#EnableScript')[0].checked == true) {
                $('#script').show();
                $('#pageid').hide();
                $('#themecolor').hide();
            }
            else {
                $('#script').hide();
                $('#pageid').show();
                $('#themecolor').show();
            }
        }

        $('#EnableScript').click(checkscript);

        checkscript();
    });

</script>