@model SmartGroupConditionModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.NopStation.PushNop.SmartGroupConditions.EditDetails").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("PushNop.SmartGroups");
}

<form asp-controller="PushNopSmartGroup" asp-action="EditCondition" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.NopStation.PushNop.SmartGroupConditions.EditDetails")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="Edit" asp-route-id="@Model.SmartGroupId">@T("Admin.NopStation.PushNop.SmartGroupConditions.BackToSmartGroup")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <button type="submit" class="btn btn-danger" name="btnDeleteCondition@(Model.Id)" id="btnDeleteCondition@(Model.Id)">
                <i class="fa fa-trash"></i>
                @T("Admin.Common.Delete")
            </button>
            <nop-action-confirmation asp-button-id="@("btnDeleteCondition" + Model.Id)" />
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdateCondition", Model)
</form>
@*<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="smartgroupcondition-delete" />*@