@model SurveySubmissionModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.NopStation.DynamicSurvey.Surveys.EditSurveyDetails").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Surveys submissions");
    
    const string hideInfoBlockAttributeName = "SurveySubmissionPage.HideInfoBlock";
    var customer = await workContext.GetCurrentCustomerAsync();
    var hideInfoBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideInfoBlockAttributeName);

    const string hideUserDataBlockAttributeName = "SurveySubmissionPage.HideEmailBlock";
    var hideUserDataBlock = await genericAttributeService.GetAttributeAsync<bool>(customer, hideUserDataBlockAttributeName, defaultValue: true);
}

<form asp-controller="Survey" asp-action="Edit" method="post" id="survey-form">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.NopStation.DynamicSurvey.SurveySubmissions.Details")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.NopStation.DynamicSurvey.SurveySubmissions.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <span id="survey-delete" class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
                @T("Admin.Common.Delete")
            </span>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                <nop-cards id="survey-cards">
                    <nop-card asp-name="survey-info" asp-icon="fas fa-info" asp-title="@T("Admin.NopStation.DynamicSurvey.SurveySubmissions.Info")" asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock" asp-advanced="false">
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="SurveyName" />
                                </div>
                                <div class="col-md-9">
                                    <a href="@Url.Action("Edit", "Survey", new { id = Model.SurveyId })">
                                        @Html.DisplayFor(x => x.SurveyName)
                                    </a>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="CustomerEmail" />
                                </div>
                                <div class="col-md-9">
                                    <a href="@Url.Action("Edit", "Customer", new { id = Model.CustomerId })">
                                        @Html.DisplayFor(x => x.CustomerEmail)
                                    </a>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="CreatedOn" />
                                </div>
                                <div class="col-md-9">
                                    <a>@Model.CreatedOn</a>
                                </div>
                            </div>
                        </div>
                    </nop-card>
                    <nop-card asp-name="survey-survey-email" asp-icon="fas fa-envelope" asp-title="@T("Admin.NopStation.DynamicSurvey.SurveySubmissions.UserData")" asp-hide-block-attribute-name="@hideUserDataBlockAttributeName" asp-hide="@hideUserDataBlock" asp-advanced="false">
                        <div class="card-body">
                            @Html.Raw(Model.AttributeDescription)
                        </div>
                    </nop-card>
                </nop-cards>
            </div>
        </div>
    </section>
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="survey-delete" />