@model ConfigurationModel
@{
    Layout = "_AdminLayout";
    ViewBag.PageTitle = T("Admin.NopStation.AmazonPay.Configuration").Text;
    NopHtml.SetActiveMenuItemSystemName("AmazonPay.Configuration");
}

<form asp-controller="PaymentAmazonPay" asp-action="Configure" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.NopStation.AmazonPay.Configuration")
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                @await Component.InvokeAsync(typeof(StoreScopeConfigurationViewComponent))
                <div asp-validation-summary="All"></div>
                <div class="cards-group">
                    <div class="card card-default">
                        <div class="card-body">
                            @(await Html.LocalizedEditorAsync<ConfigurationModel, ConfigurationModel.ConfigurationLocalizedModel>("plugin-settings-localized",
                                @<div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <nop-override-store-checkbox asp-for="DescriptionText_OverrideForStore" asp-input="@Model.Locales[item].DescriptionText" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="@Model.Locales[item].DescriptionText" />
                                        </div>
                                        <div class="col-md-9">
                                            <nop-editor asp-for="@Model.Locales[item].DescriptionText" asp-template="RichEditor" />
                                            <span asp-validation-for="@Model.Locales[item].DescriptionText"></span>
                                        </div>
                                    </div>
                                    <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
                                </div>
                                ,
                                @<div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <nop-override-store-checkbox asp-for="DescriptionText_OverrideForStore" asp-input="DescriptionText" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                            <nop-label asp-for="DescriptionText" />
                                        </div>
                                        <div class="col-md-9">
                                            <nop-editor asp-for="DescriptionText" asp-template="RichEditor" />
                                            <span asp-validation-for="DescriptionText"></span>
                                        </div>
                                    </div>
                                </div>
                                ,
                                //localizable settings per store (overridden store settings) are not supported yet
                                true
                                ))
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-override-store-checkbox asp-for="AdditionalFee_OverrideForStore" asp-input="AdditionalFee" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="AdditionalFee" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="AdditionalFee" />
                                    <span asp-validation-for="AdditionalFee"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-override-store-checkbox asp-for="AdditionalFeePercentage_OverrideForStore" asp-input="AdditionalFeePercentage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="AdditionalFeePercentage" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="AdditionalFeePercentage" />
                                    <span asp-validation-for="AdditionalFeePercentage"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-override-store-checkbox asp-for="RegionId_OverrideForStore" asp-input="RegionId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="RegionId" />
                                </div>
                                <div class="col-md-9">
                                    <nop-select asp-for="RegionId" asp-items="@Model.AvailableRegions" />
                                    <span asp-validation-for="RegionId"></span>
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-override-store-checkbox asp-for="PrivateKey_OverrideForStore" asp-input="PrivateKey" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="PrivateKey" />
                                </div>
                                <div class="col-md-9">
                                    <nop-textarea asp-for="PrivateKey" />
                                    <span asp-validation-for="PrivateKey"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-override-store-checkbox asp-for="StoreId_OverrideForStore" asp-input="StoreId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="StoreId" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor-check asp-for="StoreId" />
                                    <span asp-validation-for="StoreId"></span>
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-override-store-checkbox asp-for="MerchantId_OverrideForStore" asp-input="MerchantId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="MerchantId" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor-check asp-for="MerchantId" />
                                    <span asp-validation-for="MerchantId"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-override-store-checkbox asp-for="PublicKeyId_OverrideForStore" asp-input="PublicKeyId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="PublicKeyId" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor-check asp-for="PublicKeyId" />
                                    <span asp-validation-for="PublicKeyId"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-override-store-checkbox asp-for="ButtonColor_OverrideForStore" asp-input="ButtonColor" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="ButtonColor" />
                                </div>
                                <div class="col-md-9">
                                    <nop-select asp-for="ButtonColor" asp-items="@Model.AvailableButtonColors" />
                                    <span asp-validation-for="ButtonColor"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-override-store-checkbox asp-for="UseSandbox_OverrideForStore" asp-input="UseSandbox" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="UseSandbox" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor-check asp-for="UseSandbox" />
                                    <span asp-validation-for="UseSandbox"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-override-store-checkbox asp-for="NoteToBuyer_OverrideForStore" asp-input="NoteToBuyer" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                    <nop-label asp-for="NoteToBuyer" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="NoteToBuyer" />
                                    <span asp-validation-for="NoteToBuyer"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
