@using NopStation.Plugin.Widgets.PinterestAnalytics.Models
@using Nop.Web.Framework.Models.DataTables;
@model ConfigurationModel

<div asp-validation-summary="All"></div>

<div class="content">
    <div class="form-horizontal">
        <div class="cards-group">
            <div class="card card-default">
                <div class="card-header">
                    @T("Admin.NopStation.Plugin.Widgets.PinterestAnalytics.Configuration.CustomEvents")
                </div>
                @if (Model!=null)
                {
                    <div class="card-body">
                        @if (!Model.HideCustomEventsSearch)
                        {
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <nop-label asp-for="@Model.CustomEventSearchModel.WidgetZone" />
                                        </div>
                                        <div class="col-md-9">
                                            <nop-editor asp-for="@Model.CustomEventSearchModel.WidgetZone" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-9 offset-md-4">
                                            <button type="button" id="search" class="btn btn-primary btn-search">
                                                <i class="fas fa-search"></i>
                                                @T("Admin.Common.Search")
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        @await Html.PartialAsync("Table", new DataTablesModel
                        {
                            Name = "grid",
                            UrlRead = new DataUrl("CustomEventList", "PinterestAnalytics"),
                            UrlDelete = new DataUrl("CustomEventDelete", "PinterestAnalytics"),
                            SearchButtonId = "search",
                            Filters = new List<FilterParameter>
                            {
                                new FilterParameter(nameof(Model.CustomEventSearchModel.WidgetZone), nameof(CustomEventSearchModel))
                            },
                            Length = Model.CustomEventSearchModel.PageSize,
                            LengthMenu = Model.CustomEventSearchModel.AvailablePageSizes,
                            ColumnCollection = new List<ColumnProperty>
                            {
                                new ColumnProperty(nameof(CustomEventModel.EventName))
                                {
                                    Title = T("Admin.NopStation.Plugin.Widgets.PinterestAnalytics.Configuration.CustomEvents.Fields.EventName").Text,
                                    Width = "200"
                                },
                                new ColumnProperty(nameof(CustomEventModel.WidgetZonesName))
                                {
                                    Title = T("Admin.NopStation.Plugin.Widgets.PinterestAnalytics.Configuration.CustomEvents.Fields.WidgetZones").Text
                                },
                                new ColumnProperty(nameof(CustomEventModel.EventName))
                                {
                                    Title = T("Admin.Common.Delete").Text,
                                    Width = "100",
                                    ClassName =  NopColumnClassDefaults.Button,
                                    Render = new RenderButtonRemove(T("Admin.Common.Delete").Text)
                                }
                            }
                        })
                    </div>
                    <div class="card-footer">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="@Model.CustomEventSearchModel.AddCustomEvent.EventName" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="@Model.CustomEventSearchModel.AddCustomEvent.EventName" />
                                <span asp-validation-for="@Model.CustomEventSearchModel.AddCustomEvent.EventName"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="@Model.CustomEventSearchModel.AddCustomEvent.WidgetZonesIds" />
                            </div>
                            <div class="col-md-9">
                                <nop-select asp-for="@Model.CustomEventSearchModel.AddCustomEvent.WidgetZonesIds" asp-items="@Model.CustomEventSearchModel.AddCustomEvent.AvailableWidgetZones" asp-multiple="true" />
                                <script>
                                    $(document).ready(function() {
                                        var input = $('#@Html.IdFor(model => model.CustomEventSearchModel.AddCustomEvent.WidgetZonesIds)').data("kendoMultiSelect");
                                        input.setOptions({
                                            autoClose: false,
                                            filter: "contains"
                                        });
                                    });
                                </script>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-9 offset-md-3">
                                <button type="button" id="add" class="btn btn-primary">@T("Admin.Common.AddNewRecord")</button>
                            </div>
                        </div>

                        <script>
                            $(document).ready(function () {
                                $('#add').click(function () {
                                    $('#add').attr('disabled', true);
                                    var postData = {
                                        EventName: $("#@Html.IdFor(model => model.CustomEventSearchModel.AddCustomEvent.EventName)").val(),
                                        WidgetZones: $("#@Html.IdFor(model => model.CustomEventSearchModel.AddCustomEvent.WidgetZonesIds)").val()
                                    };
                                    addAntiForgeryToken(postData);

                                    $.ajax({
                                        cache: false,
                                        type: "POST",
                                        url: "@Html.Raw(Url.Action("CustomEventAdd", "PinterestAnalytics"))",
                                        data: postData,
                                        success: function (data, textStatus, jqXHR) {
                                            if (data.Result) {
                                                //reload grid
                                                updateTable('#grid');

                                                //clear input value
                                                $("#@Html.IdFor(model => model.CustomEventSearchModel.AddCustomEvent.EventName)").val('');
                                                var input = $('#@Html.IdFor(model => model.CustomEventSearchModel.AddCustomEvent.WidgetZonesIds)').data("kendoMultiSelect");
                                                input.value("");
                                                input.trigger("change");
                                            } else {
                                                //display errors if returned
                                                display_nop_error(data);
                                            }
                                        },
                                        complete: function (jqXHR, textStatus) {
                                            $('#add').attr('disabled', false);
                                        }
                                    });
                                });
                            });
                        </script>
                    </div>
                }
                else
                {
                    <div class="card-body">
                        @T("Admin.NopStation.Plugin.Widgets.PinterestAnalytics.Configuration.CustomEvents.SaveBeforeEdit")
                    </div>
                }
            </div>
        </div>
    </div>
</div>