@model NopStation.Plugin.Widgets.PinterestAnalytics.Models.ConfigurationModel
@{
    Layout = "_AdminLayout";
    ViewBag.PageTitle = T("Admin.NopStation.Plugin.Widgets.PinterestAnalytics.Configuration").Text;
    NopHtml.SetActiveMenuItemSystemName("PinterestAnalytics.Configuration");
}

<form asp-controller="PinterestAnalytics" asp-action="Configure" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.NopStation.Plugin.Widgets.PinterestAnalytics.Configuration")
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>
    <div class="container-fluid">
        <div class="form-horizontal">
            @await Component.InvokeAsync(typeof(StoreScopeConfigurationViewComponent))
            <div asp-validation-summary="All"></div>
            <div class="cards-group">
                <div class="card card-default">
                    <div class="card-body">
                        @T("Admin.NopStation.Plugin.Widgets.PinterestAnalytics.Instructions")
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="PinterestId_OverrideForStore" asp-input="PinterestId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="PinterestId" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="PinterestId" />
                                <span asp-validation-for="PinterestId"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="TrackingScript_OverrideForStore" asp-input="TrackingScript" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="TrackingScript" />
                            </div>
                            <div class="col-md-9">
                                <nop-textarea asp-for="TrackingScript" />
                                <span asp-validation-for="TrackingScript"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Ad_Account_Id_OverrideForStore" asp-input="Ad_Account_Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="Ad_Account_Id" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Ad_Account_Id" />
                                <span asp-validation-for="Ad_Account_Id"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="AccessToken_OverrideForStore" asp-input="AccessToken" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="AccessToken" />
                            </div>
                            <div class="col-md-9">
                                <nop-textarea asp-for="AccessToken" />
                                <span asp-validation-for="AccessToken"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="SaveLog_OverrideForStore" asp-input="SaveLog" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="SaveLog" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="SaveLog" />
                                <span asp-validation-for="SaveLog"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@await Html.PartialAsync("_CreateOrUpdate.cshtml", Model)