@model InvoicePaymentModel

@{
    Layout = "_AdminLayout";
    //page title
    ViewBag.PageTitle = T("Admin.NopStation.CreditWallet.InvoicePayments.AddNew").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("CreditWallet.InvoicePayment");
}

<form asp-controller="WalletInvoicePayment" asp-action="Create" method="post" id="invoicepayment-form" asp-route-fromCustomerPage="@Context.Request.Query["fromCustomerPage"]">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.NopStation.CreditWallet.InvoicePayments.AddNew")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="Edit" asp-controller="Customer" asp-route-id="@Model.WalletCustomerId">@T("Admin.NopStation.CreditWallet.InvoicePayments.BackToCustomer")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="invoicepayment-delete" />