@model StoreLocationModel

<script>
    $(document).ready(function () {
        $("#@Html.IdFor(model => model.IsPickupPoint)").click(togglePickupPoint);

        togglePickupPoint();
    });

    function togglePickupPoint() {
        if ($('#@Html.IdFor(model => model.IsPickupPoint)').is(':checked')) {
            $('#pnlPickupFee').show();
        } else {
            $('#pnlPickupFee').hide();
        }
    }
</script>

<div class="card-body">
    @(await Html.LocalizedEditorAsync<StoreLocationModel, StoreLocationLocalizedModel>("storelocation-info-localized",
    @<div>
        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="@Model.Locales[item].Name" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="@Model.Locales[item].Name" />
                <span asp-validation-for="@Model.Locales[item].Name"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="@Model.Locales[item].ShortDescription" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="@Model.Locales[item].ShortDescription" />
                <span asp-validation-for="@Model.Locales[item].ShortDescription"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="@Model.Locales[item].FullDescription" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="@Model.Locales[item].FullDescription" asp-template="RichEditor" />
                <span asp-validation-for="@Model.Locales[item].FullDescription"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="@Model.Locales[item].OpeningHours" />
            </div>
            <div class="col-md-9">
                <nop-textarea asp-for="@Model.Locales[item].OpeningHours"/>
                <script>
                    $(document).ready(function() {
                        $('#@Html.IdFor(model => model.OpeningHours)')
                            .height($('#@Html.IdFor(model => model.OpeningHours)')[0].scrollHeight);
                    });
                </script>
                <span asp-validation-for="@Model.Locales[item].OpeningHours"></span>
            </div>
        </div>
        <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
    </div>
    ,
    @<div>
        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="Name" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="Name" asp-required="true" />
                <span asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="ShortDescription" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="ShortDescription" asp-required="true" />
                <span asp-validation-for="ShortDescription"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="FullDescription" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="FullDescription" asp-template="RichEditor" />
                <span asp-validation-for="FullDescription"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3">
                <nop-label asp-for="OpeningHours" />
            </div>
            <div class="col-sm-9">
                <nop-textarea asp-for="OpeningHours" />
                <script>
                    $(document).ready(function() {
                        $('#@Html.IdFor(model => model.OpeningHours)')
                            .height($('#@Html.IdFor(model => model.OpeningHours)')[0].scrollHeight);
                    });
                </script>
                <span asp-validation-for="OpeningHours"></span>
            </div>
        </div>
        </div>))

    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="DisplayOrder" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="DisplayOrder" />
            <span asp-validation-for="DisplayOrder"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="IsPickupPoint" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="IsPickupPoint" />
            <span asp-validation-for="IsPickupPoint"></span>
        </div>
    </div>
    <nop-nested-setting asp-for="IsPickupPoint">
        <div class="form-group row" id="pnlPickupFee">
            <div class="col-md-3">
                <nop-label asp-for="PickupFee" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="PickupFee" />
                <span asp-validation-for="PickupFee"></span>
            </div>
        </div>
    </nop-nested-setting>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="Active" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="Active" />
            <span asp-validation-for="Active"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="SelectedStoreIds" />
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4">
                    <nop-select asp-for="SelectedStoreIds" asp-items="Model.AvailableStores" asp-multiple="true" />
                    <script>
                        $(document).ready(function() {
                            var storesIdsInput = $('#@Html.IdFor(model => model.SelectedStoreIds)').data("kendoMultiSelect");
                            storesIdsInput.setOptions({
                                autoClose: false,
                                filter: "contains"
                            });

                            @if (Model.AvailableStores.Count == 0)
                            {
                                <text>
                                    storesIdsInput.setOptions({
                                        enable: false,
                                        placeholder: 'No stores available'
                                    });
                                    storesIdsInput._placeholder();
                                    storesIdsInput._enable();
                                </text>
                            }
                        });
                    </script>
                </div>
                <div class="col-md-8">
                    @await Component.InvokeAsync("MultistoreDisabledWarning")
                </div>
            </div>
        </div>
    </div>

    <div class="card card-default">
        <div class="card-body">
            <nop-editor asp-for="Address" asp-template="StoreLocatorAddress" />
        </div>
    </div>
</div>